---
- hosts: localhost
  connection: local
  tasks:
  -  name: "install programs on virtual machine"
     apt:
      pkg:
      - python3-pip
      - code
      - docker
      - docker-compose
      state: latest
  - name: "pull repo to add this playbook repository"
    git:
      repo: https://github.com/jirivasm/vxboxlab"
      dest: /src/projects
      version: master

