---
- hosts: localhost
  connection: local
  tasks:
  - name: "install programs on virtual machine"
    apt:
      pkg:
      - python3-pip
      - docker
      - docker-compose
      state: latest
    become: true
    
  - name: "pull repo to add this playbook repository"
    git:
      repo: "https://github.com/2206-devops-batch/JoseR-project0"
      dest: "./" 
      version: main
    become: true

