---
- hosts: localhost
  connection: local
  become: true
  tasks:
  - name: "install programs on virtual machine"
    apt:
      pkg:
      - python3-pip
      state: latest
    

  - name: "pull repos to add changes on playbook"
    git:
      repo: "https://github.com/jirivasm/vxboxlab" 
      dest: /home/repos/playbook
      clone: yes
      update: yes
      version: main

  - name: "pull repos to add project 0 repository"
    git:
      repo: "https://github.com/2206-devops-batch/JoseR-project0" 
      dest: /home/repos/project0
      clone: yes
      update: yes
      version: main

  - name: "run project0 from ansible"
    script:  /home/repos/project0/project_manager.py
    args:
      executable: /usr/bin/python3
