---
- hosts: localhost
  connection: local
  tasks:
  - name: "install programs on virtual machine"
    apt:
      pkg:
      - docker
      - docker-compose
      state: latest
    become: true

  - name: install Python3
    dnf:
      name: Python3
      state: latest
    
  - name: "pull repo to add this playbook repository"
    git:
      repo: "https://github.com/2206-devops-batch/JoseR-project0" 
      dest: /home/repos
      clone: yes
      update: yes
      version: main
    become: true

